footer {
    height: var(--footer-height);
    width: 100%;
    position: relative;

    background: rgb(236,174,30);
    background: linear-gradient(180deg, var(--background) 20%, var(--normal) 100%);


    display: flex;
    align-items: center;

    margin-top: var(--footer-marginTop);
}

footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer ul li {
    list-style-type: none;
}