

.info-fossil li {
    display: flex;
    height: 100%;
    margin: 0 2rem 3rem 2rem;
    flex-direction: column;

    text-align: center;
    flex-wrap: nowrap;
    gap: 1rem;

    list-style-type: none;
}