

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --background: #ecae1e ;
    --special: #070500 ;
    --normal: #8a4d41;
    --text: #7e775e;
    --dialogues: #fff9e7;

    --header-height: 15vh;
    --footer-height: 6vh;
    --footer-marginTop: 1.5rem;
    /* calc() */
    --main-height: calc(96vh - 15vh - 6vh - 1.5rem);

    height: 100vh;
    background-color: var(--background);
    background-attachment: fixed ;
    color: var(--special);

}



